/* globals.css */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin:0px;
  background: #F2F2F2;
}

header {
  height: 4vh;
  padding: 10px;
  background: #b3b3b3;
  border-bottom: 1px solid #ddd;
}

main {
  height: 85vh;
  flex: 1;
  display: flex;
  background: #F2F2F2;
}

footer {
  height: 2vh;
  padding: 10px;
  background: #f8f9fa;
  border-top: 1px solid #ddd;
  text-align: center;
}
